LC_ALL=POSIX

HONEYCOMB_AUDIENCE=wildflower-tech.org
HONEYCOMB_CLIENT_ID=<<PUT CLIENT ID HERE>>
HONEYCOMB_CLIENT_SECRET=<<PUT CLIENT SECRET HERE>>
HONEYCOMB_TOKEN_URI=https://wildflowerschools.auth0.com/oauth/token
HONEYCOMB_URI=https://honeycomb.api.wildflower-tech.org/graphql

VIDEO_STORAGE_AUDIENCE=wildflower-tech.org
VIDEO_STORAGE_CLIENT_ID=<<PUT CLIENT ID HERE>>
VIDEO_STORAGE_CLIENT_SECRET=<<PUT CLIENT SECRET HERE>>
VIDEO_STORAGE_TOKEN_URI=https://wildflowerschools.auth0.com/oauth/token
VIDEO_STORAGE_AUTH_DOMAIN=wildflowerschools.auth0.com

POSE_ENGINE_MONGO_POSE_URI="mongodb://pose-engine:iamaninsecurepassword@localhost:27017/poses?authSource=poses"

#POSE_ENGINE_VIDEO_FRAME_LOADER_PROCESSES=<<TUNE UP OR DOWN TO CHANGE NUMBER OF VIDEO LOADING PROCESSES>>

# Use GPU for video decoding (see config.py for details)
POSE_ENGINE_VIDEO_USE_FFMPEG_WITH_CUDA=false
VIDEO_USE_CUDACODEC_WITH_CUDA=false

POSE_ENGINE_STORE_POSES=false
#RAW_VIDEO_SOURCE_DIR=<<USE IN PRODUCTION TO AVOID HTTP FETCHING VIDEOS>>

# DDP (distributed data parallel for pytorch)
MASTER_ADDR=localhost
MASTER_PORT=12355